.basic-swipeable-list__container {
    width: 100%;
    margin: 16px 0;
    outline-color: gray;
    outline-style: solid;
    outline-width: 1px 0;
}

.icon {
    fill: white;
    width: 32px;
    height: 32px;
    align-self: center;
}

.ItemContent{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #555878;
    border-style: solid;
    border-color: #393a52;
    border-width: 12px;
    border-top-width: 6px;
    border-bottom-width: 6px;
    color: #eee;
    user-select: none;
}
.ActionContent{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
    color: #eee;
    user-select: none;
}

.AvatarImg {
 width: 44px;
height: 44px;
border-radius: 50%;
margin-right: 8px;
user-drag: none;
user-select: none;
}

.ItemRow{
    width: 100%;
    display: flex;
    padding: 0 8px;
}
.ItemColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ItemColumnCentered{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

 .ItemNameLineSpan{
     font-weight: 500;
 } .ItemInfoLineSpan{
        font-size: 14px;
 }



